<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Not Allowed | LavinMQ</title>
    <link href="main.css" rel="stylesheet">
    <meta name="google" content="notranslate">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    <link rel="apple-touch-icon" href="img/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-iphone4.png" />
    <script type="module" src="js/layout.js"></script>
  </head>
  <body>
    <header>
      <h2></h2>
      <nav id="user-menu"/>
    </header>
    <nav id="menu"></nav>
    <main>
      <section class="card">
        <h1>401 - Not Allowed</h1>
      </section>
    </main>
    <footer>LavinMQ is open source and developed by <a href="https://www.84codes.com" target="_blank"><img class="logo" src="img/logo-84codes.svg"></a></footer>
  </body>
</html>
