<% pagename = "Not Found" %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <% render "partials/head" %>
  </head>
  <body>
    <% render "partials/header" %>
    <main>
      <section class="card">
        <h1>404 - Not Found</h1>
      </section>
    </main>
    <% render "partials/footer" %>
  </body>
</html>
