<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Exchanges | LavinMQ</title>
    <link href="main.css" rel="stylesheet">
    <meta name="google" content="notranslate">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    <link rel="apple-touch-icon" href="img/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-iphone4.png" />
    <script type="module" src="js/layout.js"></script>
    <script type="module" src="js/exchanges.js"></script>
  </head>
  <body>
    <header>
      <h2>
        Exchanges
        <small id="table-count"></small>
      </h2>
      <nav id="user-menu"/>
    </header>
    <nav id="menu"></nav>
    <main>
      <section class="card">
        <div id="table-error"></div>
        <table id="table" class="table">
          <thead>
            <tr>
              <th data-sort-key="vhost">Virtual host</th>
              <th data-sort-key="name" class="left">Name</th>
              <th data-sort-key="type" class="left">Type</th>
              <th>Features</th>
              <th data-sort-key="policy">Policy</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </section>
      <form method="put" id="addExchange" class="form card">
        <h3>Add exchange</h3>
        <label>
          <span>Virtual host</span>
          <select name="vhost" required></select>
        </label>
        <label>
          <span>Name</span>
          <input type="text" name="name" required>
        </label>
        <label>
          <span>Type</span>
          <select name="type" required></select>
        </label>
        <label>
          <span>Durable</span>
          <input type="checkbox" name="durable" value="1">
        </label>
        <label>
          <span>Auto-delete</span>
          <input type="checkbox" name="auto_delete" value="1">
        </label>
        <label>
          <span>Internal</span>
          <input type="checkbox" name="internal" value="1">
        </label>
        <label>
          <span>Delayed</span>
          <input type="checkbox" name="delayed" value="1">
        </label>
        <label>
          <span>Arguments</span>
          <textarea name="arguments" placeholder='{ "key": value }'></textarea>
          <div id="dataTags" class="label">
            <a class="arg-tooltip" data-tag="x-alternate-exchange">Alternate Exchange
              <span class="tooltiptext">If messages to this exchange cannot otherwise be routed, send them to the alternate exchange named here.</span>
            </a>
          </div>
        </label>
        <button type="submit" class="btn-primary">Add exchange</button>
      </form>
    </main>
    <footer>LavinMQ is open source and developed by <a href="https://www.84codes.com" target="_blank"><img class="logo" src="img/logo-84codes.svg"></a></footer>
  </body>
</html>
