<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | LavinMQ</title>
    <link href="main-v2.css" rel="stylesheet">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="32x32" href="favicon.ico">
    <link rel="icon" sizes="180x180" href="img/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon.png">
    <script type="module" src="js/login.js"></script>
  </head>
  <body class="login">
    <main>
      <section class="card col-2 px-6 pb-6 pt-4 text-center login-card">
        <img alt="LavinMQ logo" src="img/logo-lavinmq-all-white.svg" class="login-logo">
        <form id="login" class="form login-form">
          <label>
            <span class="field-label login-label">Username</span>
            <input class="regular-text login-input" type="text" id="username" placeholder="Username">
          </label>
          <label>
            <span class="field-label login-label">Password</span>
            <input class="regular-text login-input" type="password" id="password" placeholder="Password">
          </label>
          <button type="submit" class="btn btn-green login-btn">Sign in</button>
        </form>
      </section>
    </main>
  </body>
</html>
