<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | LavinMQ</title>
    <link href="main-v2.css" rel="stylesheet">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="32x32" href="favicon.ico">
    <link rel="icon" sizes="180x180" href="img/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon.png">
    <script type="module" src="js/login.js"></script>
  </head>
  <body class="login">
    <main>
      <section class="card col-2 px-6 pb-6 pt-4 text-center login-card">
        <!--<h1 class="text-lg font-semibold text-light-400">LavinMQ</h1>-->
        <img alt="LavinMQ logo" src="img/logo-lavinmq-all-white.svg" style="width: 140px; margin-bottom: 48px;">
        <form id="login" class="form login-form">
          <label>
            <span class="text-light-400 font-semibold" style="text-align: left; margin-bottom: 8px; display: none;">Username</span>
            <input class="regular-text" type="text" id="username" style="width: auto; border-radius: 8px; padding: 1rem 1rem;" placeholder="Username">
          </label>
          <label>
            <span class="text-light-400 font-semibold" style="text-align: left; margin-bottom: 8px; display: none;">Password</span>
            <input class="regular-text" type="password" id="password" style="width: auto; border-radius: 8px; padding: 1rem 1rem;" placeholder="Password">
          </label>
          <button type="submit" class="btn btn-green" style="width: 100%; margin-left: 0; font-size: 1rem; padding: 1rem 1rem; line-height: 1.5rem; margin-top: 24px;">Sign in</button>
        </form>
      </section>
    </main>
  </body>
</html>
