<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | LavinMQ</title>
    <link href="main.css" rel="stylesheet">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="32x32" href="favicon.ico">
    <link rel="icon" sizes="180x180" href="img/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon.png">
    <style>
      body {
        display: block;
      }

      main {
        width: 60%;
        min-width: 400px;
        max-width: 800px;
        margin: 40px auto;
      }
    </style>
  </head>
  <body>
    <main>
      <section class="card">
        <h1>LavinMQ</h1>
        <form id="login" class="form">
          <label>
            <span>Username</span>
            <input type="text" id="username">
          </label>
          <label>
            <span>Password</span>
            <input type="password" id="password">
          </label>
          <button type="submit" class="btn-primary">Sign in</button>
        </form>
      </section>
    </main>
    <script type="module">
      import * as HTTP from './js/http.js'
      import * as Auth from './js/auth.js'
      document.getElementById('login').addEventListener('submit', (e) => {
        e.preventDefault()
        const user = document.getElementById('username').value
        const pass = document.getElementById('password').value
        Auth.setAuth(`${user}:${pass}`)
        HTTP.request('GET', 'api/whoami').then(() => {
          Auth.storeCookie({ username: user})
          window.location.assign('.')
        }).catch(() => {
          window.alert('Login failed')
        })
      })
    </script>
  </body>
</html>
