<nav id="user-menu">
  <ul>
    <li id="username"></li>
    <li>
      <form id="user-vhost">
        <label>
          <span>vhost:</span>
          <select id="userMenuVhost" name="vhost"></select>
        </label>
      </form>
    </li>
    <li>
      <a id="signoutLink" href="#">🙈&nbsp;Sign out</a>
    </li>
  </ul>
</nav>
