<!DOCTYPE html>
<html>
  <head>
    <script type=module>
      import { AMQPWebSocketClient } from './js/lib/amqp-websocket-client.mjs'

      const textarea = document.getElementById("textarea")
      const input = document.getElementById("message")
      const submit = document.getElementById("submit")
      const offlineQueue = []
      const tls = window.location.scheme === "https:"
      const url = `${tls ? "wss" : "ws"}://${window.location.host}`
      const amqp = new AMQPWebSocketClient(url, "/", "guest", "guest")
      amqp.onerror = (err) => {
        console.log("amqp error", err, "restarting")
        start()
      }

      async function start() {
        submit.disabled = true
        try {
          const conn = await amqp.connect()
          const ch = await conn.channel()
          const q = await ch.queue("")
          await q.bind("amq.fanout")
          await q.subscribe({noAck: false}, (msg) => {
            textarea.value += msg.bodyString() + "\n"
            msg.ack()
          })
          attachPublish(ch)
          while (offlineQueue.length > 0) {
            const msg = offlineQueue.shift()
            await publish(ch, msg)
          }
        } catch (err) {
          console.error("Error", err, "reconnecting in 1s")
          setTimeout(start, 1000)
        }
      }

      function attachPublish(ch) {
        document.forms[0].onsubmit = async (e) => {
          e.preventDefault()
          try {
            await publish(ch, input.value)
          } catch (err) {
            console.error("Could not publish", err)
            offlineQueue.push(input.value)
          }
          input.value = ""
        }
        submit.disabled = false
      }

      async function publish(ch, message) {
        await ch.basicPublish("amq.fanout", "", message, { contentType: "text/plain" })
      }

      start()
    </script>
  </head>
  <body>
    <form>
      <textarea id="textarea" rows=10></textarea>
      <br/>
      <input id="message"/>
      <button id="submit" type="submit">Send</button>
    </form>
  </body>
</html>
