Source: lavinmq
Standards-Version: 4.6.0
Homepage: https://github.com/cloudamqp/lavinmq
Section: net
Priority: optional
Build-Depends: debhelper (>= 12), crystal (>= 1.8.0), curl
Maintainer: CloudAMQP <contact@cloudamqp.com>

Package: lavinmq
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Suggests: etcd-server
Description: message queue server that implements the AMQP 0-9-1 protocol
 Aims to be very fast, have low RAM requirements,
 handle very long queues, many connections and
 require minimal configuration.
