<ul id="<%= vars[:id]? %>">
  <li><a class="menu-item" href="">Overview</a></li>
  <li><a class="menu-item" href="connections">Connections</a></li>
  <li><a class="menu-item" href="channels">Channels</a></li>
  <li><a class="menu-item" href="exchanges">Exchanges</a></li>
  <li><a class="menu-item" href="queues">Queues</a></li>
  <li><a class="menu-item" href="policies">Policies</a></li>
  <li><a class="menu-item" href="operator-policies">Operator policies</a></li>
  <li><a class="menu-item" href="shovels">Shovels</a></li>
  <li><a class="menu-item" href="federation">Federation</a></li>
  <li><a class="menu-item" href="vhosts">Virtual hosts</a></li>
  <li><a class="menu-item" href="users">Users</a></li>
  <li><a class="menu-item" href="nodes">Nodes</a></li>
  <li><a class="menu-item" href="docs/" target="_blank">HTTP API</a></li>
</ul>
