:root {
  --theme-color-light: #EFF7F6;
  --theme-color-link: #A78C88;

  --font-color-light: #9A9A9A;
  --font-color: rgb(100, 100, 100);
  --font-color-dark: #2C2C2C;
  --bg-color: #EBECF1;
  --separator-color: rgba(185, 185, 185, 0.507);
}

body {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 60px 80px auto 60px;
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 10pt;
}

body, input, select, button {
  font-family: Verdana, sans-serif;
}

textarea {
  font-family: monospace;
}

a:hover {
  cursor: pointer;
}

header,
footer {
  grid-column: 2 / span 1;
}

header {
  grid-row: 1 / span 2;
  background-image: url(img/bg-head.jpg);
  background-size: cover;
  color: #FFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto;
  padding: 5px 20px;
}

header a, header a:visited {
  color: #FFF;
  text-decoration: none;
}

header h2 {
  align-self: center;
  margin: 0 0 0 20px;
}

main {
  grid-row: 2 / span 2;
  grid-column: 2;
  align-self: start;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  width: calc(100% - 40px);
  justify-self: center;
  margin-bottom: 20px;
  position: relative;
}

.card {
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
  background-color: #FFF;
  grid-column: 1 / span 12;
  position: relative;
}

.card > :first-child, .card > form > :first-child {
  margin-top: 0;
}

.card.align-start {
  align-self: start;
}

.cols-1 { grid-column: auto / span 1 }
.cols-2 { grid-column: auto / span 2 }
.cols-3 { grid-column: auto / span 3 }
.cols-4 { grid-column: auto / span 4 }
.cols-5 { grid-column: auto / span 5 }
.cols-6 { grid-column: auto / span 6 }
.cols-7 { grid-column: auto / span 7 }
.cols-8 { grid-column: auto / span 8 }
.cols-9 { grid-column: auto / span 9 }
.cols-10 { grid-column: auto / span 10 }
.cols-11 { grid-column: auto / span 11 }
.cols-12 { grid-column: auto / span 12 }

aside {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  background-color: rgba(0, 0, 0, 0.8);
  --font-color: #FFF;
  --highlight-color: rgba(0, 0, 0, 0.4);
  color: var(--font-color);
  position: relative;
}

aside::after {
  background-image: url(img/bg-mountain.jpg);
  background-attachment: fixed;
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

#amq-logo {
  width: 100%;
}

footer {
  margin: 0 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
  background-color: #FFF;
  color: var(--font-color-light);
  padding: 20px;
}

footer .logo {
  vertical-align: sub;
  height: 20px;
}

@media (max-width: 1850px) {
  .cols-6-md { grid-column: auto / span 6 !important; }
}

@media (max-width: 1500px) {
  body {
    font-size: 9pt;
  }
}

@media (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
  }

  .card {
    grid-column: auto / span 1 !important;
  }
}

@media (max-width: 1000px) {
  aside::after {
    background-size: cover;
  }

  body {
    grid-template-columns: auto;
    grid-template-rows: auto 60px 80px auto 60px;
  }

  main, aside, header, footer {
    grid-column: 1 / span 1;
  }

  header {
    grid-row: 2 / span 2;
  }

  main {
    grid-row: 3 / span 2;
  }

  aside {
    grid-row: 1 / span 1;
  }

  aside * {
    text-align: center;
  }
}

aside h1 {
  margin: 14px 14px 0;
  padding-bottom: 14px;
  border-bottom: 1px solid rgb(126, 126, 126);
}

aside h1 small {
  font-size: 0.7em;
  font-weight: 100;
  opacity: 0.6;
  margin-left: 10px;
}

#version:before {
  content: "v";
}

#user-menu {
  align-self: center;
  justify-self: end;
  list-style-type: none;
  margin-right: 20px;
}

#user-menu a:hover {
  transform: scale(1.1);
}

#user-menu select {
  box-shadow: none;
  height: initial;
}

#user-menu li {
  display: inline-block;
  margin: 0 5px;
}

#user-info {
  margin-left: 10px;
  color: #FFF;
}

aside > ul {
  margin-top: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li a {
  display: block;
  padding: 0 1em;
  font-size: 1.3em;
  line-height: 3em;
}

aside ul ul li a {
  padding: 4px 20px 4px 40px;
  font-size: small;
}

aside ul ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

aside ul a, aside ul a:visited {
  color: var(--font-color);
  text-decoration: none;
}

aside ul a:hover {
  background-color: var(--highlight-color);
}

aside li.active a {
  background-color: var(--highlight-color);
  border-left: 6px solid #3C9368;
}

.table-wrapper {
  overflow: auto;
}

.filter-table {
  margin: 2px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 3px;
}
.table tbody {
  border-bottom: solid 1px #ddd;
}

.col-toggle {
  position: absolute;
  top: 15px;
  right: 1.5rem;
}

.table th {
  font-weight: normal;
  border-bottom: 1px solid var(--font-color-dark);
  padding: .75rem 1.15rem .5rem .75rem;
  min-width: 10px;
  max-width: 500px;
  word-break: keep-all;
  white-space: nowrap;
}

.table th:first-child {
  text-align: left;
}

.table th[data-sort-key] {
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.table th[data-sort-key]:before, .table th[data-sort-key]:after {
  bottom: 10px;
  display: block;
  font-weight: 100;
  opacity: .3;
  position: absolute;
}

.table th[data-sort-key]:before {
  content: '\2191';
  right: 9px;
}

.table th[data-sort-key]:after {
  content: '\2193';
  right: 2px;
}

.table th.sorting_asc:before, .table th.sorting_desc:after {
  opacity: 1;
}

.table tbody td {
  border-top: 1px solid #ddd;
  padding: .75rem 1.55rem .5rem .55rem;
  color: var(--font-color-light);
  max-width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

.table tbody td:hover {
  overflow: visible;
  background-color: inherit;
}

.table tbody td:hover a {
  background-color: inherit;
  position: relative;
  padding-right: 10px;
  z-index: 1000;
}

.self-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--highlight-color) !important;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}

.table tbody tr:nth-of-type(even) {
  background-color: #fff;
}

#table-error {
  color: red;
}

#upstreamTable-error {
  color: red;
}

.table-multihead {
  box-shadow: inset -9px 0px 0px 0px #FFF, inset -10px 0px 0px 0px var(--font-color-dark);
}

.details-table {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;
  width: calc(100% + 3rem);
  border-collapse: collapse;
  table-layout: fixed;
}

.details-table th {
  text-align: left;
  border-top: 1px solid #e0e1e2;
  vertical-align: middle;
  padding: .75rem;
  padding-left: 1rem;
  max-width: 400px;
}

.details-table td {
  border-top: 1px solid #e0e1e2;
  vertical-align: middle;
  padding: .75rem;
}

.details-table td, .details-table th {
  border-right: 1px dashed #e0e1e2;
}

.details-table tr:first-child > * {
  border-top: #fff;
}

.details-table tr > td:last-child, .details-table tr > th:last-child {
  border-right: 0
}

.details-table td {
  overflow-wrap: break-word;
}

.small-table {
  width: 50%;
  max-width: 600px;
}

.medium-table {
  width: 70%;
  max-width: 1000px;
}

.stats-table {
  border-collapse: collapse;
  table-layout: fixed;
}

.stats-table td, .stats-table th {
  text-align: center;
  border-right: 1px solid var(--separator-color);
}

.stats-table td:last-child, .stats-table th:last-child {
  border: none;
}

.stats-table td {
  font-size: 32px;
  padding: 30px 0 2px;
  color: var(--font-color-dark);
}

.stats-table th {
  font-size: 20px;
  padding: 2px 0 30px;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--font-color-light);
}

.stats-table th a {
  color: var(--font-color-light);
  text-decoration: none;
}

label {
  display: block;
  margin: 0.5em 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

a[data-tag] {
  cursor: pointer;
}

.hide {
  display: none;
}

.form label > span {
  width: 150px;
  display: inline-block;
  padding-top: 8px;
  padding-right: 5px;
  vertical-align: top;
}

.form input:not([type="radio"]):not([type="checkbox"]), .form select {
  max-width: 400px;
  width: calc(100% - 160px);
}

.form label input[type="checkbox"] {
  margin: 10px 0;
}

.form .label {
  margin: 0.5em 0;
}

.form legend {
  margin-bottom: 20px;
}

.form button[type="submit"]:not(.btn-inline), .form input[type="submit"]:not(.btn-inline) {
  margin-left: 160px;
  display: inline-block;
}

.form label button[type="submit"]:not(.btn-inline), .form label input[type="submit"]:not(.btn-inline) {
  margin-left: 15px;
  display: inline-block;
}

.form label > select:first-child {
  width: 151px;
  position: relative;
  top: -1px;
  margin-right: 4px;
}

button {
  font-size: 1.16em;
  line-height: 2em;
}

select {
  height: 34px;
  background-color: #FFF;
}

input, select, textarea, button {
  font-size: 1.1em;
  box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  padding: 7px;
}

button:hover {
  opacity: 0.8;
}

textarea {
  height:100px;
  width: calc(100% - 160px);
  max-width: 400px;
}

fieldset {
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: var(--separator-color);
  color: var(--font-color-dark);
  margin-bottom: 15px;
}

main h3 {
  color: var(--font-color-dark);
  font-size: 1.5em;
  font-weight: 400;
}

h2 small, h3 small {
  margin-left: 20px;
}

a, a:visited {
  color: var(--theme-color-link);
}

.btn-primary {
  color: #FFF;
  font-weight: 100;
  text-transform: uppercase;
  background-color: #3C9368;
  border: none;
  padding: 0 40px;
}

.btn-secondary {
  font-weight: 100;
  padding: 0 40px;
  text-transform: uppercase;
  border: 1px solid #DEDEDE;
  background-color: #f5f5f5;
  color: #2c2c2c;
}

.btn-danger {
  font-weight: 100;
  padding: 0 40px;
  border: none;
  text-transform: uppercase;
  background-color: #c46868;
  color: #fff;
}

.btn-warn {
  font-weight: 100;
  padding: 0 40px;
  border: none;
  text-transform: uppercase;
  background-color: #e2b149;
  color: #fff;
}

.state-running:after {
  content: '●';
  color: green;
}

.state-flow:after {
  content: '●';
  color: yellow;
}

.state-paused:after {
  content: '||';
  color: red;
}

.state-closed:after {
  content: '●';
  color: red;
}

pre {
  white-space: pre-wrap;
}

fieldset.inline {
  max-width: 468px;
  margin: 20px 0 20px 10px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
  color: #fff;
  animation: fadeIn 0.5s, fadeOut 0.5s ease-in 5s forwards;
  opacity: 0.9;
}
.success {
  background-color: #2a9463;
}
.error {
  background-color: #c46868;
}
.warn {
  background-color: #e2b149
}

#error-msg {
  color: red;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.9;}
}

@keyframes fadeOut {
    from {opacity: 0.9;}
    to {opacity: 0;}
}

.message {
  margin-top: 10px;
}

.message-header {
  font-weight: bold;
}

.message-payload {
  word-break: break-all;
}

.message table {
  table-layout: fixed;
}

.message table th {
  min-width: 150px;
  text-align: left;
}

.chart-container {
  display: grid;
  grid-template-columns: auto 100px;
  position: relative;
}

.chart-container .graph {
  grid-column: 1 / span 1;
}

.chart-container .legend {
  grid-column: 2 / span 1;
  grid-row-gap: 5px;
  overflow-wrap: anywhere;
}

.chart-container .legend .legend-item {
  display: grid;
  grid-template-columns: 15px 20px auto;
  margin-bottom: 5px;
  transition: all .2s ease-in-out;
}

.chart-container .legend .legend-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.chart-container .legend .legend-item.checked .toggle:before {
  content: '✔';
  position: absolute;
  top: 5px;
}

.chart-container .legend .legend-item:not(.checked) {
  opacity: 0.6;
}

.chart-container .legend .toggle {
  position: relative;
}

.chart-container .legend .color-ref {
  width: 10px;
}

#pagination {
  margin: -1px 0;
  display: grid;
  grid-template-columns: repeat(10, fit-content(100px))
}
#pagination .page-item {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;;
  box-sizing: content-box;
}
#pagination .page-item a {
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
#pagination .page-item.active a {
  background-color: var(--theme-color-link);
  color: white;
}
#pagination .page-item:first-child {
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 3px;
}
#pagination .page-item:last-child {
  border-right: 1px solid #ddd;
  border-bottom-right-radius: 3px;
}

.tooltip {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: visible;
  z-index: 99;
}

.tooltip .close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.arg-tooltip {
  position: relative;
  display: inline-block;
}

.arg-tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 2px;
  border-radius: 6px;

  width: 150px;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  position: absolute;
  z-index: 1;
}

.arg-tooltip:hover .tooltiptext {
  visibility: visible;
}

pre.arguments > div {
  padding-left: 1em;
  text-indent: -1em;
}
#dataTags {
  margin-left :150px;
  padding: 7px;
}
