/* Base */
@font-face {
  font-family: Inter;
  src: url("fonts/Inter-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("fonts/Inter-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

:root {
  --theme-color-link: #f7f5f2;
  --font-color-light: #f7f5f2;
  --font-color-darker: #9D9C9A;
  --font-color-dark: #2c2c2c;
  --font-color-darkest: #141414;
  --bg-color: #ebecf1;
  --bg-color-darkest: #181818;
  --bg-color-dark: #1D1D1D;
  --border-color-light: rgb(247 245 242 / 0.1);
  --bg-green-dark: #54BE7E;
  scrollbar-width: thin;
}

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

body,
html {
  min-height: 100%;
}

body {
  background-color: #181818;
  color: var(--font-color-darker);
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body,
input,
select,
button {
  font-family: Inter, sans-serif;
}

a:hover {
  cursor: pointer;
  color: rgba(247, 254, 242, .6);
}
/* Base end */

/* Form */
.form label {
  margin-bottom: 1rem;

  &.has-tags {
    margin-bottom: 0;
  }
}

textarea {
  font-family: monospace;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

input[type='file'] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  font-size: 14px;
  line-height: 20px;
  padding: 8px;
  border-radius: 0.375rem;
  box-shadow: none;
  background: #2D2C2C;
  border: 1px solid rgb(247 245 242 / 0.1);
}

input[type='file']:focus {
  outline: 1px auto -webkit-focus-ring-color;
}

input[type="text"], input[type="number"], input[type="password"] {
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  border: none;
  box-shadow: none;
  background: #2D2C2C;
  border: 1px solid #414040;
  color: #f7f5f2;
}

select.dropdown {
  background-image: url(img/arrow-down.svg);
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: auto;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid rgb(247 245 242 / 0.1);
  box-shadow: none;
  background-color: #2D2C2C;
  color: #f7f5f2;
}
/* Form end */

/* Grid */
.grid-content {
  display: grid;
  grid-template-columns: 320px auto;
  grid-template-rows: 64px 80px auto 60px;
  margin: 0;
  min-height: 100vh;
}

header,
footer {
  grid-column: 2 / span 1;
}

main {
  grid-row: 2 / span 2;
  grid-column: 2;
  align-self: start;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  width: calc(100% - 80px);
  justify-self: center;
  margin-bottom: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

main.main-grid {
  padding-left: 320px;
  padding-top: 64px;
  margin-bottom: 0;
  grid-auto-rows: max-content;
  min-height: calc(100vh - 140px);
  margin-bottom: 80px;
}
/* Grid end */

/* Navigation */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  color: var(--font-color-light);
  background: var(--bg-color-dark);
}

#menu-header {
  display: flex;
  align-items: center;
}

.lavinmq-logo {
  display: inline-block;
}

.lavinmq-logo img {
  display: block;
}

header a,
header a:visited {
  color: #fff;
  text-decoration: none;
}

header h2 {
  align-self: center;
  margin: 0 0 0 20px;
}
/* Navigation end */

/* Utility classes */
.font-semibold {
  font-weight: 600;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-1	{
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}
/* Utility classes end */

/* Buttons */
button {
  cursor: pointer;
}

.btn-small {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.375rem 1rem;
  border: 1px solid transparent;
  background: #F7F5F2;
  color: #141414;
  box-shadow: none;
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  margin-right: 0.5rem;

  &.bg-light-400 {
    background: #F7F5F2;
    color: #141414;
  }

  &:hover {
    background: #CBCAC7;
  }
}

.btn-small-outlined {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.375rem 1rem;
  border: 1px solid rgb(247 245 242 / 0.1);
  color: #F7F5F2;
  background: transparent;
  box-shadow: none;
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.btn-small-outlined-danger {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.375rem 0.5rem;
  border: 1px solid rgb(247 245 242 / 0.1);
  color: #F7F5F2;
  background: transparent;
  box-shadow: none;
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;
  gap: .5rem;

  &::after {
    content: url(img/icon-cross.svg);
    position: relative;
    top: 1px;
  }

  &:hover {
    background: #2D2C2C;
  }
}

.btn {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  border-radius: 800px;
  padding: 0.625rem 1rem;
  box-shadow: none;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  min-width: 6rem;
}

.btn-outlined {
  background: transparent;
  border: 1px solid rgb(247 245 242 / 0.1);
  color: #f7f5f2;

  &:hover {
    background-color: #2D2C2C;
  }
}

.btn-green {
  background: #54BE7E;
  border: 1px solid transparent;
  color: #141414;

  &:hover {
    background-color: #44FC70;
  }
}

.btn-green a {
  color: #141414;
}

.btn-yellow {
  background: #e2b149;
  border: 1px solid transparent;
  color: #141414;

  &:hover {
    background-color: #eea812;
  }
}

.btn-red {
  background: #ED4337;
  border: 1px solid transparent;
  color: #141414;

  &:hover {
    background-color: #f01e0f;
  }
}

.btn-primary {
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  background-color: #3c9368;
  border: none;
  padding: 0 40px;
}

.btn-secondary {
  font-weight: 100;
  padding: 0 40px;
  text-transform: uppercase;
  border: 1px solid #dedede;
  background-color: #f5f5f5;
  color: #2c2c2c;
}

.btn-danger {
  font-weight: 100;
  padding: 0 40px;
  border: none;
  text-transform: uppercase;
  background-color: #ED4337;
  color: #fff;
}

.btn-warn {
  font-weight: 100;
  padding: 0 40px;
  border: none;
  text-transform: uppercase;
  background-color: #e2b149;
  color: #fff;
}
/* Buttons end */

/* Login page */
body.login {
  display: block;
}

body.login main {
  min-height: 100vh; 
  margin: 0 auto; 
  width: 100%; 
  min-width: 100%; 
  max-width: 100%;
}

.login-logo {
  width: 140px; 
  margin-bottom: 48px;
}

.login-label {
  text-align: left; 
  margin-bottom: 8px;
  display: none !important;
}

.login-input {
  width: auto !important; 
  border-radius: 8px !important; 
  padding: 1rem 1rem !important;
}

.login-btn {
  width: 100%; 
  margin-left: 0 !important; 
  font-size: 1rem; 
  padding: 1rem 1rem; 
  line-height: 1.5rem; 
  margin-top: 24px;
}
/* Login page end */

/* Components */
.page-title {
  font-size: 18px;
  line-height: 20px;
  margin: 1.5rem 0 0.5rem;
  font-weight: 600;
  color: var(--font-color-light);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subpage-title::before {
  content: '/';
  margin: 0 0.5rem;
}

.card {
  grid-column: 1 / span 12;
  position: relative;
  padding: 1rem 1.5rem 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--bg-color-dark);
}

.tb-card {
  padding: 0;
  border-radius: 0.75rem;
  background-color: var(--bg-color-dark);
}

.login-card {
  grid-column: 1 / span 12; 
  align-items: center; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.tiny-badge {
  background: var(--bg-green-dark);
  display: inline-block;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--font-color-darkest);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.125rem 0.375rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
}

.card h3 {
  color: var(--font-color-light);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;

  &.form-card-title {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--border-color-light);
    margin-bottom: 0;
  }

  &.has-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &.with-desc {
    margin-bottom: 0.5rem;
  }
}

.form h3 {
  margin-bottom: 2rem;
}

.form-card-inner {
  padding: 1rem 1.5rem;
}

.card-desc {
  color: var(--font-color-darker);
  font-size: 0.875rem;
  line-height: 1.25rem;

  &.pre-form {
    margin-bottom: 2rem;
    margin-top: 0;
  }
}

.form-card-title {
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--border-color-light);
  margin-bottom: 0;
}

.login-form {
  width: 100%; 
  max-width: 400px;
}

.login-form label {
  display: flex; 
  flex-direction: column; 
  margin: 12px auto;
}

.card > :first-child,
.card > form > :first-child {
  margin-top: 0;
}

.card.align-start {
  align-self: start;
}

.r-c {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -16px;
  left: 320px;
  background: #1D1D1D;
  overflow: hidden;
}

.r-c-inner {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: #181818;
}

.tooltip-icon {
  border: 1px solid #F7F5F2;
  border-radius: 80px;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  margin-left: 4px;
  color: #F7F5F2;
  font-weight: 600;
  font-size: 12px;
}

.prop-tooltip:hover .tooltip-icon {
  border-color: rgba(247, 254, 242, .6);
  color: rgba(247, 254, 242, .6);
}

.overview-divider {
  width: 1px;
  height: 40px;
  background-color: rgb(247 245 242 / 0.1);
  display: block;
}

.counter-pill:empty {
  padding: 0;
}
/* Components end */

.cols-1 {
  grid-column: auto / span 1;
}
.cols-2 {
  grid-column: auto / span 2;
}
.cols-3 {
  grid-column: auto / span 3;
}
.cols-4 {
  grid-column: auto / span 4;
}
.cols-5 {
  grid-column: auto / span 5;
}
.cols-6 {
  grid-column: auto / span 6;
}
.cols-7 {
  grid-column: auto / span 7;
}
.cols-8 {
  grid-column: auto / span 8;
}
.cols-9 {
  grid-column: auto / span 9;
}
.cols-10 {
  grid-column: auto / span 10;
}
.cols-11 {
  grid-column: auto / span 11;
}
.cols-12 {
  grid-column: auto / span 12;
}

#menu-button {
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: none;
  color: white;
  margin-bottom: -20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  border-radius: 4px 4px 0 0;
}

#menu {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  background-color: #1D1D1D;
  --font-color: var(--font-color-darker);
  --highlight-color: #2d2c2c;
  position: relative;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  overflow: auto;
  padding-top: 4rem;
  z-index: 9998;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgba(29, 29, 29, 1);
  scrollbar-width: thin;
}

footer {
  margin: 0 auto;
  text-align: center;
  width: calc(100% - 80px);
  padding-left: 320px;

  p {
    background-color: var(--bg-color-dark);
    color: var(--font-color-darker);
    padding: 20px 40px;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
}

footer .logo {
  margin-left: 4px;
  height: 20px;
}

.overview-card {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 24px;
  border-radius: 0.75rem;
  padding: 2rem 1.5rem;
  align-items: center;
  background-color: var(--bg-color-dark);
}

#overview > div:first-child {
  border-left: 0px !important;
}

#overview > div {
  text-align: center;
}

#overview .counter {
  font-size: 32px;
  line-height: 32px;
  color: #f7f5f2;
  font-weight: 600;
}

#overview .counter-header {
  color: var(--font-color-darker);
}

#overview a,
#overview a:visited {
  color: var(--font-color-darker);
}

#overview a:hover {
  color: #f7f5f2;
}

@media (max-width: 1850px) {
  .cols-6-md {
    grid-column: auto / span 6 !important;
  }
}

@media (max-width: 1500px) {
  body {
    font-size: 9pt;
  }
}

@media (max-width: 1000px) {
  main.main-grid {
    padding-left: 24px;
  }

  .show-menu {
    display: block !important;
    opacity: 1 !important;
    pointer-events: auto !important;
    position: relative;
    transition: all 0.3s;
    z-index: 1001;
    width: 40px;
    height: 40px;
    border-radius: 4px 4px 0px 0px;
  }

  #menu {
    background: none;
    width: 56px;
    height: 56px;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: visible;
    padding-top: 3.5rem;
  }

  .r-c {
    display: none;
  }

  header {
    height: 3.5rem;
  }

  .grid-content {
    display: block;
  }

  main {
    grid-row: 2 / span 2 !important;
    grid-column: 2 !important;
    width: 100%;
    padding-top: 56px;
    margin-top: 0 !important;
    padding-left: 24px;
    padding-right: 24px;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card {
    max-width: 100% !important;
    width: 100%;
  }

  footer {
    grid-column: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0 24px;
  }

  footer p {
    flex-direction: column;
    gap: 4px;
  }

  header {
    display: flex;
    align-items: center;
    padding-top: 0 !important;
    justify-content: end;
  }

  .overview-divider {
    display: none;
  }

  #menu-button.open-menu::before {
    content: "\2715";
  }

  #menu-button.open-menu {
    background-color: #2b2c2d !important;
  }

  #menu-button::before {
    content: "\2630";
  }

  #menu::after {
    background-size: cover;
  }

  #menu-button {
    display: block;
    position: relative;
    left: 20px;
    top: 20px;
    position: absolute;
    top: 8px;
    left: 12px;
    width: 40px;
    height: 40px;
    z-index: 9999;
    border-radius: 100px;
  }

  #menu-content {
    display: none;
  }

  #menu-content {
    opacity: 0;
    pointer-events: none;
    width: 250px;
    height: auto;
    z-index: 1001;
    border-radius: 0px 4px 4px 4px;
    transition: all 0.3s;
    position: relative;
    height: 90vh;
    left: 20px;
    text-align: left;
  }

  #menu-content.show-menu {
    margin-top: 0;
    left: 0;
    top: 56px;
    position: fixed;
    height: calc(100vh - 56px);
    overflow: auto;
    padding-top: 16px;
    padding-bottom: 24px;
    z-index: 9998;
    background: var(--bg-color-dark);
  }

  #menu-content::after {
    border-radius: 0px 4px 4px 0px;
    opacity: 0.2;
    background-image: url(img/bg-mountain.webp);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    display: none;
  }

  #menu ul li a,
  #menu ul li a:visited {
    display: block;
    padding: 0 1em;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  #menu ul li a {
    padding: 4px 20px 4px 40px;
    font-size: small;
  }

  #menu ul a:hover {
    background-color: var(--highlight-color);
    border-radius: 0px 4px 4px 4px;
    color: #f7f5f2;
  }

  #menu li.active a {
    background-color: var(--highlight-color);
    color: #f7f5f2;
  }

  body {
    grid-template-columns: auto;
    grid-template-rows: 0px 60px 80px auto 60px;
  }

  main,
  #menu,
  header,
  footer {
    grid-column: 1 / span 1;
  }

  header {
    align-items: center;
    grid-row: 1 / span 3;
    padding: 0;
    justify-content: center;
  }

  main {
    grid-row: 3 / span 2;
    margin-top: 20px;
  }

  #menu {
    grid-row: 1 / span 1;
  }

  .card {
    max-width: 95%;
  }

  header #user-menu {
    text-align: right;
  }
  header #user-menu ul {
    padding: 0;
  }
  #overview {
    flex-wrap: wrap;
    padding: 10px 20px;
  }
  #overview > div {
    flex: 33%;
    font-size: 12px;
    padding: 5px 0;
  }
  #overview > div {
    border-left: 0px;
    text-align: center;
  }
  #overview .counter {
    font-size: 20px;
  }
  main.queue-main .card {
    grid-column: 1 / span 12 !important;
  }
  header h2 small,
  header h3 small {
    margin-left: 0px;
    font-size: 12px;
  }
}

#menu h1 {
  margin: 16px 24px 0;
  padding-bottom: 14px;
  border-bottom: 1px solid rgb(126, 126, 126);
}

#menu h1 small {
  font-size: 0.7em;
  font-weight: 100;
  opacity: 0.6;
  margin-left: 10px;
  text-align: center;
  display: block;
}

#version:before {
  content: "v";
}

#user-menu {
  align-self: center;
  justify-self: end;
  list-style-type: none;
  margin-right: 20px;
}

#user-menu ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user-menu ul li::after {
  content: '';
  width: 1px;
  height: 24px;
  background: #2D2C2C;
  margin-left: 16px;
}

#user-menu ul li:last-child {
  font-weight: 600;
}

#user-menu ul li:last-child::after {
  display: none;
}

#user-menu .flex {
  display: inline-flex;
}

.sm-label {
  font-size: 0.75rem;
  color: var(--font-color-darker);
}

#user-menu a:hover {
  transform: scale(1.1);
}

#user-menu select {
  box-shadow: none;
  height: initial;
  min-width: 120px;
  max-width: 160px;
  text-overflow: ellipsis;
  padding-right: 1.8rem;
  padding-left: 0.5rem;
  height: 42px;
  padding-bottom: 0;
}

#user-vhost {
  label {
    position: relative;
  }

  span {
    position: absolute;
    font-size: 12px;
    opacity: .6;
    left: 0.5rem;
    top: 0.3rem;
  }
}

#user-menu li {
  display: inline-block;
  margin: 0 8px;
}

#user-info {
  margin-left: 10px;
  color: #fff;
}

#menu > ul {
  margin-top: 20px;
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu ul li {
  padding: 0 16px;
}

#menu ul li a {
  display: block;
  padding: 12px 16px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
}

#menu ul ul li a {
  padding: 4px 20px 4px 40px;
  font-size: small;
}

#menu ul ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#menu ul a,
#menu ul a:visited {
  color: var(--font-color-darker);
  text-decoration: none;
}

#menu ul a:hover {
  background-color: var(--highlight-color);
  color: #f7f5f2;
}

#menu li.active a {
  background-color: var(--highlight-color);
  color: #f7f5f2;
}

.table-wrapper {
  overflow: auto;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgba(29, 29, 29, 1);
  scrollbar-width: thin;
}

.filter-table {
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  border: none;
  box-shadow: none;
  background: #2D2C2C;
  border: 1px solid #414040;
  color: #f7f5f2;
  max-width: 300px !important;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 3px;
  color: var(--font-color-light);
}
.table tbody {
  border-bottom: solid 1px #ddd;
  border-bottom: 1px solid rgb(247 245 242 / 0.1);
}

.col-toggle {
  position: absolute;
  top: 15px;
  right: 1.5rem;
  color: #F7F5F2;
}

.table th {
  font-weight: normal;
  border-bottom: 1px solid #CBCAC7;
  padding: 0.75rem 1.5rem 0.5rem 0.75rem;
  text-align: left;
  white-space: nowrap;
}

.table td.checkbox {
  width: 1px;
  max-width: 10px;
}

.table th[data-sort-key] {
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.table th[data-sort-key]:before,
.table th[data-sort-key]:after {
  bottom: 10px;
  display: block;
  font-weight: 100;
  opacity: 0.3;
  position: absolute;
}

.table th[data-sort-key]:before {
  content: "\2191";
  right: 9px;
}

.table th[data-sort-key]:after {
  content: "\2193";
  right: 2px;
}

.table th.sorting_asc:before,
.table th.sorting_desc:after {
  opacity: 1;
}

.table tbody td {
  border-top: 1px solid #ddd;
  border-top: 1px solid rgb(247 245 242 / 0.1);
  padding: 0.75rem 1.55rem 0.75rem 0.55rem;
  color: var(--font-color-light);
  color: #CDCBC9;
  white-space: nowrap;
  height: 3.5rem;
  font-size: 14px;
  line-height: 20px;
}

.table tbody a {
  background-color: inherit;
  position: relative;
  padding-right: 10px;
  z-index: 1000;
  color: #CDCBC9;

  &:hover {
    color: #F7F5F2;
  }
}

.self-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--highlight-color) !important;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #242424;
}

.table tbody tr:nth-of-type(even) {
  background-color: #1D1D1D;
}

[id$="-error"] {
  display: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #d8000c;
  background-color: #ffbaba;
}

.table-multihead {
  box-shadow: inset -9px 0px 0px 0px #1D1D1D,
    inset -10px 0px 0px 0px var(--font-color-dark);
}

.load-more {
  color: var(--font-color-light);
  display: none;
  width: 100%;
  background-color: #fafafa;
  cursor: pointer;
  border: 0;
  box-shadow: none;
  padding: 5px;
}
.load-more.visible {
  display: block;
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 0.875rem;
  color: var(--font-color-light);
}

.details-table th {
  text-align: left;
  border-top: 1px dashed #404040;
  vertical-align: middle;
  padding: 0.75rem;
  padding-left: 1rem;
  max-width: 400px;
}

.details-table td {
  border-top: 1px dashed #404040;
  vertical-align: middle;
  padding: 0.75rem;
}

.details-table td,
.details-table th {
  border-right: 1px dashed #404040;
}

.details-table tr:first-child > * {
  border-top: #fff;
}

.details-table tr > td:last-child,
.details-table tr > th:last-child {
  border-right: 0;
}

.details-table td {
  overflow-wrap: break-word;
  color: #CDCBC9;
}

.small-table {
  width: 50%;
  max-width: 600px;
}

.medium-table {
  width: 70%;
  max-width: 1000px;
}

.stats-table {
  border-collapse: collapse;
  table-layout: fixed;
}

.stats-table td,
.stats-table th {
  text-align: center;
  border-right: 1px solid var(--border-color-ligh);
}

.stats-table td:last-child,
.stats-table th:last-child {
  border: none;
}

.stats-table td {
  font-size: 32px;
  padding: 30px 0 2px;
  color: var(--font-color-dark);
}

.stats-table th {
  font-size: 20px;
  padding: 2px 0 30px;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--font-color-light);
}

.stats-table th a {
  color: var(--font-color-light);
  text-decoration: none;
}

label {
  display: block;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

a[data-tag] {
  cursor: pointer;
}

.hide {
  display: none;
}

.form label > span {
  width: 150px;
  display: inline-block;
  padding-top: 8px;
  padding-right: 5px;
  vertical-align: top;
  color: var(--font-color-light);
}

.form input:not([type="radio"]):not([type="checkbox"]),
.form select {
  max-width: 400px;
  width: calc(100% - 160px);
}

.form label input[type="checkbox"] {
  margin: 10px 0;
}

.form .label {
  margin: 0.5em 0;
}

.form legend {
  margin-bottom: 20px;
  padding: 0 0.25rem;
  font-weight: 600;
  color: var(--font-color-light);
}

.form button[type="submit"]:not(.btn-inline),
.form input[type="submit"]:not(.btn-inline) {
  margin-left: 154px;
  display: inline-block;
}

.form label button[type="submit"]:not(.btn-inline),
.form label input[type="submit"]:not(.btn-inline) {
  margin-left: 0;
  display: inline-block;
}

.form label > select:first-child {
  width: 151px;
  position: relative;
  top: -1px;
  margin-right: 4px;
}

button {
  font-size: 1.16em;
  line-height: 2em;
}

select {
  height: 34px;
  background-color: #fff;
}

input,
select,
textarea,
button {
  font-size: 1.1em;
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  padding: 7px;
}

form:not(.edit-mode) .when-edit {
  display: none;
}

form.edit-mode .when-create {
  display: none !important;
}

form select:disabled,
form input:disabled,
form textarea:disabled {
  opacity: 0.5;
}

textarea {
  height: 100px;
  width: calc(100% - 160px);
  max-width: 400px;
  border-radius: 0.375rem;
  background: #2D2C2C;
  border: 1px solid #414040;
  color: #f7f5f2;
}

fieldset {
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #2D2C2C;
  color: var(--font-color-dark);
  margin-bottom: 15px;
}

main h3 {
  color: var(--font-color-dark);
  font-size: 1.5em;
  font-weight: 400;
}

h2 small,
h3 small {
  margin-left: 20px;
}

a,
a:visited {
  color: var(--theme-color-link);
}

.state-running:after {
  content: "●";
  color: #44FC70;
}

.state-flow:after {
  content: "●";
  color: yellow;
}

.state-paused:after {
  content: "||";
  color: red;
}

.state-closed:after {
  content: "●";
  color: red;
}

pre {
  white-space: pre-wrap;
}

fieldset.inline {
  max-width: 468px;
  margin: 20px 0 20px 10px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
  color: #fff;
  animation: fadeIn 0.5s, fadeOut 0.5s ease-in 5s forwards;
  opacity: 0.9;
  z-index: 10000;
}
.success {
  background-color: #2a9463;
}
.error {
  background-color: #c46868;
}
.warn {
  background-color: #e2b149;
}

#error-msg {
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

.message {
  margin-top: 10px;
  color: var(--font-color-light);
}

.message-header {
  font-weight: bold;
}

.message-payload {
  word-break: break-all;
}

.message table {
  table-layout: fixed;
}

.message table th {
  min-width: 150px;
  text-align: left;
}

.chart-container {
  margin-right: 10px;
  position: relative;
}

.chart-container .graph {
  grid-column: 1 / span 1;
}

.pagination {
  margin: -1px 0;
  display: grid;
  grid-template-columns: repeat(10, fit-content(100px));
}
.pagination .page-item {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-sizing: content-box;
}
.pagination .page-item.disabled {
  opacity: 0.8;
}
.pagination .page-item a,
.pagination .page-item span {
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.pagination .page-item.disabled a {
  cursor: default;
}
.pagination .page-item.active a {
  background-color: var(--theme-color-link);
  color: white;
}
.pagination .page-item:first-child {
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 3px;
}
.pagination .page-item:last-child {
  border-right: 1px solid #ddd;
  border-bottom-right-radius: 3px;
}

.tooltip {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #2d2c2c;
  padding: 15px;
  border: 1px solid #414040;
  border-radius: 3px;
  overflow: visible;
  z-index: 99;
  color: #f7f5f2;
}

.tooltip label {
  margin: 0.5rem 0;
}

.tooltip .close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.arg-tooltip,
.prop-tooltip {
  position: relative;
  display: inline-block;
}

.arg-tooltip .tooltiptext,
.prop-tooltip .prop-tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 10px;
  border-radius: 6px;

  width: 150px;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  position: absolute;
  z-index: 1;
  white-space: normal;
}

.prop-tooltip .prop-tooltiptext {
  margin-left: -65px;
  width: 200px;
  margin-bottom: 5px;
}

.arg-tooltip:hover .tooltiptext,
.prop-tooltip:hover .prop-tooltiptext {
  transition-delay: 0.3s;
  visibility: visible;
  pointer-events: none;
}

pre.arguments > div {
  padding-left: 1em;
  text-indent: -1em;
}

.arguments {
  color: var(--font-color-light);
}

#dataTags {
  margin-left: 150px;
  padding: 7px;
  max-width: 400px;
  margin-top: 0;
}

#dataTags a {
  color: var(--font-color-darker);
  font-size: 14px;
  line-height: 20px;
}

#dataTags a:hover {
  color: #F7F5F2;
}

.popup-card {
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
  background-color: #2d2c2c;
  grid-column: 1 / span 12;
  position: fixed;
  margin-left: 50px;
  border: 3px solid darkgrey;
  z-index: 1001;
  padding: 8px;
  color: #f7f5f2;
}
.popup-card .popup-header {
  margin-top: 0;
}
.popup-close,
.popup-close:hover {
  text-decoration: none;
  color: #000;
  float: right;
}

#livelog {
  max-height: 85vh;
  overflow-y: scroll;
}

#livelog td {
  white-space: normal;
}

.btn-primary a,
.btn-primary a:visited {
  color: #fff;
}

#download-logs {
  margin: 5px 0 16px 0;
}

#download-logs a {
  text-decoration: none;
}

#livelog table td,
#livelog table th {
  padding: 0;
}

#livelog table thead .livelog-timestamp {
  width: 185px;
}

#livelog table thead .livelog-severity {
  width: 75px;
}

#livelog table thead .livelog-source {
  width: 150px;
}

#livelog table thead .livelog-message {
  width: auto;
}

#livelog table th {
  text-align: left;
}

.version-tab {
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #333332;
  border-radius: 100px;
  padding: 7px 12px;
  color: #54be7e;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .form label > span {
    display: block;
    margin-bottom: 4px;
    width: 100%;
    padding-top: 0;
  }

  .form input:not([type="radio"]):not([type="checkbox"]), .form select {
    width: 100%;
  }

  .form button[type="submit"]:not(.btn-inline), .form input[type="submit"]:not(.btn-inline) {
    margin-left: 0;
  }

  .form label input[type="checkbox"] {
    margin-top: 4px;
  }

  #dataTags {
    margin-left: 0;
    padding-left: 0;
  }

  textarea {
    width: 100%;
  }

  .version-tab {
    display: none;
  }
}

#usermenu-button {
  margin-right: 20px;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  display: none;
}

#usermenu-button::before {
  content: url(img/usermenu-button.svg);
  color: #f7f5f2;
  font-weight: 600;
  width: 24px;
  height: 24px;
}

#usermenu-button.open-menu::before {
  content: "\2715";
}

@media (max-width: 1000px) {
  header #user-menu {
    position: absolute;
    width: 100%;
    background: var(--bg-color-dark);
    margin: 0;
    justify-content: center;
    display: flex;
    top: 56px;
    padding: 8px 0;
    display: none;
  }

  header #user-menu.visible {
    display: flex;
  }

  #usermenu-button {
    display: block;
    position: absolute;
    right: 0;
  }
}