[Unit]
Description=AvalancheMQ
Documentation=https://github.com/cloudamqp/avalanchemq
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/bin/avalanchemq -c /etc/avalanchemq/avalanchemq.ini
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=0
User=avalanchemq
Group=avalanchemq
LimitNOFILE=infinity
Type=notify
ProtectSystem=full
FileDescriptorStoreMax=1048576
NoNewPrivileges=true
Nice=-1
OOMScoreAdjust=-250
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
