[Unit]
Description=LavinMQ
Documentation=https://github.com/cloudamqp/lavinmq
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/bin/lavinmq -c /etc/lavinmq/lavinmq.%i.ini
Restart=on-failure
User=lavinmq
Group=lavinmq
LimitNOFILE=infinity
ProtectSystem=full
Slice=lavinmq.slice
MemoryHigh=10M
MemoryMax=100M
CPUQuota=1%

[Install]
WantedBy=multi-user.target
