[Unit]
Description=AvalancheMQ
Documentation=https://github.com/cloudamqp/avalanchemq
Requires=network.target
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/avalanchemq -c /etc/avalanchemq/avalanchemq.ini
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
User=avalanchemq
Group=avalanchemq
LimitNOFILE=infinity
Type=notify
RuntimeDirectory=avalanchemq
StateDirectory=avalanchemq
ConfigurationDirectory=avalanchemq
ProtectSystem=full
FileDescriptorStoreMax=1048576
NoNewPrivileges=true
Nice=-1
OOMScoreAdjust=-250
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
