[Unit]
Description=AvalancheMQ
Documentation=https://github.com/cloudamqp/avalanchemq
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/bin/avalanchemq -c /etc/avalanchemq/avalanchemq.ini
Restart=on-failure
User=avalanchemq
Group=avalanchemq
LimitNOFILE=infinity
Type=notify
ProtectSystem=full

[Install]
WantedBy=multi-user.target
