[Unit]
Description=LavinMQ
Documentation=https://github.com/cloudamqp/lavinmq
Requires=network.target
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/lavinmq -c /etc/lavinmq/lavinmq.ini
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
User=lavinmq
Group=lavinmq
LimitNOFILE=infinity
Type=notify
RuntimeDirectory=lavinmq
StateDirectory=lavinmq
ConfigurationDirectory=lavinmq
ProtectSystem=full
FileDescriptorStoreMax=1048576
NoNewPrivileges=true
Nice=-1
OOMScoreAdjust=-250
TimeoutStartSec=300
Environment="GC_UNMAP_THRESHOLD=1"
Environment="CRYSTAL_LOAD_DEBUG_INFO=1"

[Install]
WantedBy=multi-user.target
