name: Docker images

on:
  pull_request:
    paths:
      - .github/workflows/docker.yml
      - Makefile
      - Dockerfile
      - shard.lock
      - src/**
      - static/**
      - views/**
      - openapi/**
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - .github/workflows/docker.yml
      - Makefile
      - Dockerfile
      - shard.lock
      - src/**
      - static/**
      - views/**
      - openapi/**
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: cloudamqp/lavinmq
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}}
            type=ref,event=pr

      - name: Set up Depot CLI
        uses: depot/setup-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: depot/build-push-action@v1
        with:
          platforms: linux/amd64,linux/arm64
          pull: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            MAKEFLAGS=-j1
