name: RPM
on:
  push:
    branches:
      - main
    tags:
      - v*
    paths:
      - .github/workflows/rpm.yml
      - Makefile
      - shard.lock
      - src/**
      - static/**
      - views/**
      - openapi/**
      - packaging/rpm/**
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build_rpm:
    name: Build RPM
    strategy:
      fail-fast: false
      matrix:
        os: ['fedora-43', 'fedora-42', 'fedora-41', 'el-9']
    runs-on: ubuntu-latest
    # Set permissions if you're using OIDC token authentication
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Generate version string
        run: echo "version=$(./packaging/rpm/rpm-version)" >> $GITHUB_ENV

      - name: Determine test image
        run: |
          OS="${{ matrix.os }}"
          case "$OS" in
            fedora-*) echo "test_image=fedora:${OS#fedora-}" >> $GITHUB_ENV ;;
            el-*) echo "test_image=rockylinux:${OS#el-}" >> $GITHUB_ENV ;;
          esac

      - uses: depot/setup-action@v1
      - uses: depot/build-push-action@v1
        with:
          file: packaging/rpm/Dockerfile
          platforms: linux/amd64,linux/arm64
          pull: true
          build-args: |
            build_image=84codes/crystal:latest-${{ matrix.os }}
            test_image=${{ env.test_image }}
            version=${{ env.version }}
            MAKEFLAGS=-j1
          outputs: RPMS

      - uses: actions/upload-artifact@v6
        name: Upload artifact
        with:
          name: rpm-packages-${{ matrix.os }}
          path: RPMS

      - name: Upload to Packagecloud
        run: |
          set -eux
          curl -fsSO -u "${{ secrets.packagecloud_token }}:" https://packagecloud.io/api/v1/distributions.json
          ID=$(cut -d- -f1 <<< ${{ matrix.os }})
          VERSION_ID=$(cut -d- -f2 <<< ${{ matrix.os }})
          DIST_ID=$(jq ".rpm[] | select(.index_name == \"${ID}\").versions[] | select(.index_name == \"${VERSION_ID}\").id" distributions.json)
          for PKG_FILE in $(find RPMS -name "*.rpm" | sort -u -t/ -k3)
          do curl -fsS -u "${{ secrets.packagecloud_token }}:" -XPOST \
                  -F "package[distro_version_id]=${DIST_ID}" \
                  -F "package[package_file]=@${PKG_FILE}" \
                  https://packagecloud.io/api/v1/repos/${{ github.repository }}/packages.json
          done
        if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, '-rc') && !contains(github.ref, '-beta') && !contains(github.ref, '-alpha')

      - name: Upload to Packagecloud pre-release repo
        run: |
          set -eux
          curl -fsSO -u "${{ secrets.packagecloud_token }}:" https://packagecloud.io/api/v1/distributions.json
          ID=$(cut -d- -f1 <<< ${{ matrix.os }})
          VERSION_ID=$(cut -d- -f2 <<< ${{ matrix.os }})
          DIST_ID=$(jq ".rpm[] | select(.index_name == \"${ID}\").versions[] | select(.index_name == \"${VERSION_ID}\").id" distributions.json)
          for PKG_FILE in $(find RPMS -name "*.rpm" | sort -u -t/ -k3)
          do curl -fsS -u "${{ secrets.packagecloud_token }}:" -XPOST \
                  -F "package[distro_version_id]=${DIST_ID}" \
                  -F "package[package_file]=@${PKG_FILE}" \
                  https://packagecloud.io/api/v1/repos/${{ github.repository }}-prerelease/packages.json
          done
        if: startsWith(github.ref, 'refs/tags/v') && (contains(github.ref, '-rc') || contains(github.ref, '-beta') || contains(github.ref, '-alpha'))
